/filipmavve JEEProject-ejb/nbproject/private/
/filipmavve JEEProject-war/nbproject/private/
/nbproject/private/
/filipmavve JEEProject-ejb/build/
/filipmavve JEEProject-ejb/dist/
/filipmavve JEEProject-war/build/
/build/
/dist/
/filipmavve JEEProject-war/dist/